.create-note-modal{
  width: 40%;
  margin: 0 1.2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-note-modal .add-note-container {
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
}

.note-title {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--lynx-gray-color);
  background-color: var(--lynx-white-color);
}

.note-content {
  margin-top: 1rem;
  border: 0;
  outline: 0;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--lynx-gray-color);
  background-color: var(--lynx-white-color);
}
.add-note-footer {
  margin-top: 1.6rem;
}
.note-select {
  display: flex;
justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-note-btn {
  margin-left: auto;
}
.label {
  padding: 0 1rem;
}

.color-pallete-icon {
  margin-left: 3rem;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width:1203px) {
  .create-note-modal{
    width: 50%;
  }
}
@media screen and (max-width:963px) {
  .create-note-modal{
    width: 60%;
  }
}
@media screen and (max-width:805px) {
  .create-note-modal{
    width: 70%;
  }
}
@media screen and (max-width:688px) {
  .create-note-modal{
    width: 80%;
  }
}
@media screen and (max-width:602px) {
  .create-note-modal{
    width: 90%;
  }
}
@media screen and (max-width:535px) {
  .create-note-modal{
    width: 100%;

  }
  
}
