.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 33, 36, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.label-modal {
  width: 20%;
}

.label-modal .error-msg {
  color: var(--red);
}

.modal-container .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-container .input-container input {
  border: 1px solid var(--black-color);
  width: 70%;
}
.modal-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid var(--lynx-gray-color);
}
.modal-lists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-check {
  color: var(--black-color);
}

@media screen and (max-width: 1024px) {
  .label-modal {
    width: 30%;
  }
}
@media screen and (max-width: 750px) {
  .label-modal {
    width: 50%;
  }
}
@media screen and (max-width: 510px) {
  .label-modal {
    width: 70%;
  }
}
