.main-container {
  display: flex;
}
.main-content {
  width: calc(100vw - 270px);
  min-height: 100vh;
  margin: 0;
}
.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 40%;
}

.search-filter-container .search-container {
  padding: 0.5rem 1rem;
  display: flex;
  margin: 2rem auto;
  width: 80%;
}

.search-container .btn-search {
  width: 10%;
  padding: 10px;
  border: none;
  border-right: none;
  cursor: pointer;
  outline: none;
  color: var(--gray-color);
}
.search-container input[type="search"] {
  padding: 10px;
  border-radius: 0;
  margin: 0;
  border-left: none;
  width: 80%;
  min-width: 15rem;
}
.search-filter-container .filter-container {
  font-size: 2.5rem;
  cursor: pointer;
}
.add-note-section {
  border-bottom: 2px solid var(--lynx-gray-color);
  margin: 3rem 2rem;
}
.add-note-container {
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
}
.note-title {
  border: none;
  outline: none;
  width: 100%;
}
.note-content {
  margin-top: 1rem;
  border: 0;
  outline: 0;
  resize: none;
  padding: 1rem;
}
.add-note-footer {
  margin-top: 1.6rem;
}
.note-select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.create-note-btn {
  margin-left: auto;
}
.label {
  padding: 0 1rem;
}

.all-notes-section {
  margin: 3rem 2rem;
  border-bottom: 2px solid var(--lynx-gray-color);
}
.all-notes-section .all-notes-heading {
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  font-weight: var(--semibold-font);
  color: var(--secondary-color);
}

.all-notes-container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 1rem;
}

.notes-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 1rem;
}

.notes-card .card-text {
  font-weight: var(--regular-font);
  color: var(--black-color);
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.notes-card .note-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 2rem;
}
.note-action-btns {
  display: none;
}
.note-date {
  font-size: 1.3rem;
  color: var(--gray-color);
}
.action-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 1.6rem;
  cursor: pointer;
  margin: auto 0.5rem;
}

.action-btn:nth-child(2) {
  margin: auto 0.5rem;
}

.notes-card:hover .note-action-btns {
  display: block;
}


