.empty-trash-container {
  width: 100%;
}

.empty-trash-content {
  margin-top: 18rem;
   height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-trash-content img{
    border: none;
}
.empty-trash-content .empty-trash-desc{
    padding: 1.6rem 0;
}
