.color-pallete-container {
  width: 25rem;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2rem;
  position: absolute;
  left: 72rem;
  top: 44rem;
}

.color-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.color-list li {
  padding: 1rem;
  border: 1px solid var(--lynx-gray-color);
  border-radius: 50%;
  cursor: pointer;
}
