.color-pallete-container {
  width: 24rem;
  border: 1px solid var(--lynx-gray-color);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2rem;
  position: absolute;
  right: 55rem;
  top: 42rem;
  z-index: 4;
}

.color-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.color-list li {
  padding: 1rem;
  border: 1px solid var(--lynx-gray-color);
  border-radius: 50%;
  cursor: pointer;
}
