@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

#root {
    height: 100%;
  }

.App { 

  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: 'Gudea', sans-serif;
   
} 


.toaster-container{
  font-size: 1.6rem;
}
